NEXTCLOUD_DOMAIN=
NEXTCLOUD_DOMAIN_PRAIVATE=
LO_ONLINE_USERNAME=admin
HOST_IP=  # Private IP of Docker Host
LO_ONLINE_PASSWORD=
LO_ONLINE_EXTRA_PARAMS=--o:ssl.enable=false
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
HAPROXY_STATS_USER=
HAPROXY_STATS_PASSWORD=
