global
    maxconn 1028
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice

    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
    ssl-default-bind-options no-sslv3
    daemon
  
defaults
    option httplog
    option dontlognull
    option forwardfor
    log global
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    stats enable
    stats uri /stats
    stats realm Haproxy\ Statistics
    stats auth ${HAPROXY_STATS_USER}:${HAPROXY_STATS_PASSOWRD}

#enable resolving throught docker dns and avoid crashing if service is down while proxy is starting
resolvers docker_resolver
  nameserver dns 127.0.0.11:53


frontend http_in
    bind *:80
    mode http
    maxconn 2000000
    option httplog
    option http-server-close
    option forwardfor
    log global
    log-format frontend:%f/%H/%fi:%fp\ client:%ci:%cp\ GMT:%T\ body:%[capture.req.hdr(0)]\ request:%r
    reqadd X-Forwarded-Proto:\ http
    acl acl1 hdr(host) -i ${NEXTCLOUD_DOMAIN}
    acl acl2 hdr(host) -i ${NEXTCLOUD_DOMAIN_PRIVATE}
    use_backend nextcloud if acl1 || acl2
    use_backend nextcloud if { hdr_end(host) -i ${NEXTCLOUD_DOMAIN}}
    use_backend nextcloud if { hdr_end(host) -i  ${NEXTCLOUD_DOMAIN_PRAIVATE}}
    acl letsencrypt_http_acl path_beg /.well-known/acme-challenge/
    redirect scheme https if !letsencrypt_http_acl 
    use_backend letsencrypt_http if letsencrypt_http_acl 

frontend https-in
    bind *:443 ssl crt /usr/local/etc/haproxy/default.pem crt /usr/local/etc/haproxy/certs.d ciphers ECDHE-RSA-AES256-SHA:RC4-SHA:RC4:HIGH:!MD5:!aNULL:!EDH:!AESGCM
    reqadd X-Forwarded-Proto:\ https
    mode http
    acl acl1 hdr(host) -i ${NEXTCLOUD_DOMAIN}
    acl acl2 hdr(host) -i ${NEXTCLOUD_DOMAIN_PRAIVATE}
    use_backend nextcloud if acl1 || acl2


backend letsencrypt_http
  mode http
  server letsencrypt_http_srv 127.0.0.1:8080

backend nextcloud
        mode http
        balance roundrobin
        option forwardfor
        option http-pretend-keepalive
        option http-server-close
        http-response set-header Strict-Transport-Security "max-age=63072000; incluudeSubDomains; preload;"
        http-response set-header X-Frame-Options DENY
        http-response set-header X-XSS-Protection 1;mode=block
        http-response set-header X-Content-Type-Options nosniff
        http-response set-header Referrer-Policy no-referrer-when-downgrade
        server nextcloud-1 ${HOST_IP}:8080 check weight 1

